/* 字體樣式 */

body {
    font-family: $font-family-bold;
    font-weight: $fw-bold;
}

a {
    text-decoration: none;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.pt-1 {
    padding-top: $spacer*6;
}

.mt-2 {
    margin-top: $spacer*7.5;
}