
$primary-dark-green: #3F5D45;
$primary-light-green: #EAF0ED;
$yellow: #FFE180;

$font-family-bold: PingFangTC-Semibold,sans-serif;
$font-family-light: PingFangTC-Light,sans-serif;
$font-noto-serif: 'Noto Serif TC',sans-serif;
$font-helvetica-neue: 'Helvetica Neue', sans-serif;
$font-times: Times, sans-serif;

$fw-bold:600;
$fw-regular:400;
$fw-light:300;

$fs-sm: 16px;
$fs-lg: 20px;
$fs-main: 24px;

