@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Noto+Serif+TC:wght@900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 字體樣式 */
body {
  font-family: PingFangTC-Semibold, sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container header {
  margin-top: 30px;
}

.container header a {
  padding: 8px;
  margin: 0px 20px;
  color: #3F5D45;
}

.container header a:hover {
  text-decoration: underline;
}

.container header .shopping_cart {
  margin-left: 39px;
  margin-right: 0px;
  padding-right: 0px;
}

.container .banner {
  margin: 36px auto;
  width: 100%;
}

.container section {
  padding-top: 24px;
}

.container section .side_menu {
  width: 300px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}

.container section .side_menu h2 {
  background-color: #3F5D45;
  color: #fff;
  padding: 12.5px 0px;
}

.container section .side_menu a {
  color: #3F5D45;
  padding: 12.5px 0px;
  border: 1px solid #EAF0ED;
  margin-top: -1px;
}

.container section .side_menu a:hover {
  background-color: #EAF0ED;
}

.container section .side_menu .active {
  background-color: #EAF0ED;
}

.container section .l-card {
  width: 640px;
}

.container section .card {
  max-width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.container section .card-img {
  position: relative;
}

.container section .card-img .cover {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 4px;
  padding: 13px 10px;
  background-color: #3F5D45;
  color: #fff;
  position: absolute;
  top: 0;
  left: 20px;
}

.container section .card-img .favorite {
  position: absolute;
  top: 9px;
  right: 12px;
  padding: 10px;
}

.container section .info {
  border: 1px solid #EAF0ED;
  color: #3F5D45;
  font-size: 20px;
  text-align: center;
}

.container section .info .item-name {
  font-family: PingFangTC-Light, sans-serif;
  font-weight: 300;
  width: 173px;
  padding: 18px 0px;
  border-right: 1px solid #EAF0ED;
}

.container section .info .price {
  width: 127px;
  padding: 16px 0px;
  line-height: 24px;
}

.container section .buy {
  font-size: 24px;
  text-align: center;
  color: #3F5D45;
  background-color: #EAF0ED;
  padding: 20.5px 0px;
}

.container section .buy:hover {
  background-color: #3F5D45;
  color: #fff;
}

.container section .page-link {
  margin-top: 10px;
}

.container section .go-page {
  border: 1px solid #EAF0ED;
  border-right: none;
  font-family: PingFangTC-Light, sans-serif;
  font-weight: 300;
}

.container section .go-page a {
  font-size: 20px;
  text-align: center;
  color: #3F5D45;
  padding: 20px 25px;
}

.container section .go-page a:hover {
  background-color: #3F5D45;
  color: #EAF0ED;
  font-family: PingFangTC-Semibold, sans-serif;
  font-weight: 600;
}

.container section .active {
  background-color: #3F5D45;
  font-family: PingFangTC-Semibold, sans-serif;
  font-weight: 600;
}

.container section .active a {
  color: #EAF0ED;
}

.container section .next-page {
  border-right: 1px solid #EAF0ED;
}

.footer {
  margin-top: 60px;
}

.footer .dark-green {
  background-color: #3F5D45;
  padding: 30px 0px;
}

.footer .container-sm {
  max-width: 780px;
  margin: 0 auto;
}

.footer .logo-light {
  width: 40px;
  margin-right: 20px;
  vertical-align: middle;
}

.footer .subscription {
  margin-top: 8px;
  font-size: 24px;
  line-height: 29px;
  color: #EAF0ED;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.footer .input-box {
  width: 380px;
  background-color: #EAF0ED;
  padding-left: 4px;
}

.footer .input-box .mail-img {
  width: 24px;
  margin: 16px;
}

.footer .input-box input[type="email"] {
  width: 252px;
  font-size: 20px;
  background-color: #EAF0ED;
  color: #3F5D45;
  border: none;
  outline: medium;
}

.footer .input-box button {
  background-color: #FFE180;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
}

.footer .light-green {
  background-color: #EAF0ED;
}

.footer .logo-link {
  margin-top: 38.9px;
}

.footer .logo {
  max-width: 171.22px;
}

.footer .contact-info {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-top: 115.5px;
}

.footer .contact-info a {
  color: #3F5D45;
  line-height: 24px;
}

.footer .contact-info a:hover {
  text-decoration: underline;
}

.footer .contact-logo {
  margin: 30px 0px;
}

.footer .contact-logo .contact-link {
  margin-right: 8px;
}

.footer .contact-logo .contact-img {
  width: 32px;
}

.footer .slogan {
  margin-top: 30px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 23px;
  letter-spacing: 6.5px;
  line-height: 36px;
  font-family: "Noto Serif TC", sans-serif;
  color: #3F5D45;
}

.footer .copyright {
  line-height: 19px;
  color: #3F5D45;
  margin-bottom: 30px;
  margin-top: 18px;
  font-family: Times, sans-serif;
  font-weight: 400;
}
/*# sourceMappingURL=all.css.map */